<div class="mb-20 container-contato align-items-center">
  <loading-spinner *ngIf="loading"></loading-spinner>
  <div class="row">
    <div class="col text-center div-formulario">
      <h4 class="texto-titulo-topico">Contato</h4>
      <div class="linha-titulo-div">
        <hr class="linha-orcamento linha-titulo-orange">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="negrito-600" for="exampleFormControlInput1">Nome*</label>
        <input class="form-control" [(ngModel)]="contato.nome" placeholder="Ex:José da Silva " type="text" />

      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label class="negrito-600" for="exampleFormControlInput1">Email*</label>
        <input type="email" [(ngModel)]="contato.email" class="form-control" id="exampleFormControlInput1"
          placeholder="name@example.com" required />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="example-tel-input" class="negrito-600 form-control-label">Telefone*</label>
        <input class="form-control" type="text" mask="(00) 00000-0000" [(ngModel)]="contato.telefone"
          placeholder="(99) 99999-9999" id="example-tel-input" required maxlength="15" />
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label class="negrito-600" for="exampleFormControlTextarea1">Mensagem</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="contato.mensagem"
          placeholder="Deixe-nos um recado ;)" rows="3"></textarea>
      </div>
    </div>

    <div class="col-md-12 div-btn-contato">
      <button type="submit" class="btn btn-secondary" (click)="limparContato()">
        Limpar
      </button>
      <button type="button" class="btn btn-primary" (click)="enviarContato()">
        Enviar
      </button>
    </div>
    <div class="div-btn-trabalhe-conosco">
      <button type="submit" class="btn btn-secondary btn-trabalhe-conosco" (click)="open(classic, '', '')">
        Trabalhe conosco
      </button>
    </div>
    <ng-template #classic let-c="close" let-d="dismiss">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">
            Envie seu currículo e venha fazer parte da nossa empresa!
          </h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <trabalhe-conosco-modal></trabalhe-conosco-modal>'
        </div>
      </div>
    </ng-template>
  </div>
</div>
