
  <div class="w-100">
    <img class="w-100 img" src="./assets/img/carregador/carregador.png">
  </div>
  <div class="div-texto col">
    <div class="container">
      <h2 class="font-titulo titulo">Carregador de veículo elétrico</h2>
      <h5 class="font-titulo sub-titulo">Esta é a solução ideal para carregar diariamente o seu veículo elétrico em casa, no seu condomínio, ou empresa.</h5>
      <h5 class="font-titulo sub-titulo">Tem a possibilidade de integrar o seu sistema fotovoltaico e carregar o seu carro diretamente com energia solar.</h5>
    </div>
  </div>

