.div-formulario {
  margin-top: 150px;
}

.descricao-orcamento {
  width: 100%;
  height: auto;
  background: #ff9737;
  border-radius: 30px;
  padding: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.container-orcamento {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.linha-servico {
  width: 130px;
  background: orange;
  height: 3px;
  margin-top: 7px;
}

.div-btn-orcamento {
  margin-top: 50px;
  text-align: center;
}

.negrito-600 {
  font-weight: 600;
}
