<div class="mb-20 align-items-center">
  <div class="col px-0">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10 text-center mt-30">
        <h4 class="texto-titulo-topico">Projetos</h4>
        <div class="linha-titulo-div">
          <hr class="linha-secao-projeto linha-titulo-orange">
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="text-center col-lg-2">
        <img class=" card-secao-projeto" src="./assets/img/quem-somos/projetos/imagem-one.png">
      </div>
      <div class="text-center col-lg-2">
        <img class=" card-secao-projeto" src="./assets/img/quem-somos/projetos/imagem4.png">
      </div>
      <div class="text-center col-lg-2">
        <img class=" card-secao-projeto" src="./assets/img/quem-somos/projetos/imagem3.png">
      </div>
      <div class="text-center col-lg-2">
        <img class="card-secao-projeto" src="./assets/img/quem-somos/projetos/imagem5.png">
      </div>
    </div>
    <div class="display float-right div-ver-mais mouse">
      <h4 class="text-center cursor" (click)="abrirProjeto()">Ver mais</h4>
      <i class="fa fa-plus icone-card-servico text-center icone-add cursor" (click)="abrirProjeto()"
        aria-hidden="true"></i>
    </div>
  </div>
</div>
