<div class="mb-20 align-items-center">
  <div class="col px-0">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10 text-center mt-30">
        <h4 class="texto-titulo-topico" >Projetos</h4>
        <div class="linha-titulo-div"> <hr class="linha-secao-projeto linha-titulo-orange"></div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <img class="col-lg-2 text-center card-secao-projeto" src="./assets/img/quem-somos/imagem-one.png">
      <img class="col-lg-2 text-center card-secao-projeto" src="./assets/img/quem-somos/imagem-one.png">
      <img class="col-lg-2 text-center card-secao-projeto" src="./assets/img/quem-somos/imagem-one.png">
      <img class="col-lg-2 text-center card-secao-projeto" src="./assets/img/quem-somos/imagem-one.png">
    </div>
    <div class="row">
      <h4 class="text-center">Ver mais</h4>
      <i class="fa fa-check icone-card-servico" aria-hidden="true"></i>
      <i class="fa-solid fa-plus"></i>
      <i class="fa-solid fa-circle-plus text-center icone-card-servico"></i>
    </div>
  </div>
</div>
