<div class="mb-20 container-quem-somos d-flex align-items-center">
  <div class="col px-0">
    <div class="row align-items-center div-logo justify-content-center mb-20">
      <a class="mr-lg-5">
        <img class="logo" src="./assets/img/logo/logo.png">
      </a>
    </div>
    <div class="row align-items-center justify-content-center div-descricao mb-20">
      <div class="col-lg-12 descricao-quem-somos mb--20">
        <h2 class="descricao-titulo">Quem Somos?</h2>
        <h3 class="descricao-text">
          <p class="descricao-text-p">Somos uma empresa especializada no desenvolvimento de soluções e projetos
            completos de energia solar fotovoltaica. Temos uma equipe qualificada de profissionais prontos para atender
            sua residência, comércio, fazenda ou empresa.</p>
          <p class="descricao-text-p">A nossa alma é a energia solar, por ela lutamos e através dela acreditamos ser
            possível transformar nossos hábitos e provar que todos são capazes de gerar a energia que consomem.</p>
        </h3>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-70">
      <div class="col-lg-3 cards">
        <h3 class="titulo-card">Visão</h3>
        <h5 class="descricao-card">Ser uma empresa referência na prestação de serviços de engenharia elétrica,
          principalmente no setor de energia renovável, propondo soluções, divulgando e implementando a micro-geração de
          energia limpa e sustentável.</h5>
      </div>
      <div class="col-lg-3 cards">
        <h3 class="titulo-card">Missão</h3>
        <h5 class="descricao-card">Proporcionar aos nossos clientes o desenvolvimento de soluções e projetos completos
          de energia solar fotovoltaica, garantir sua segurança, oferecer atendimento humanizado, utilizar equipamentos
          de qualidade, manter nossos preços justos e ajudar a transformar o planeta em um lugar melhor.</h5>
      </div>
      <div class="col-lg-3 cards">
        <h3 class="titulo-card">Valores</h3>
        <h5 class="descricao-card">COOPERAÇÃO é a palavra que nos define. Acreditamos que só através dela é possível
          atingir objetivos maiores e, para isso, é necessário uma equipe que trabalha com HUMILDADE, sabe assumir suas
          responsabilidades sem arrogância, age com HONESTIDADE, respeitando as convenções sociais, incentiva a
          TRANSFORMAÇÃO. </h5>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <app-fundador></app-fundador>
    </div>
    <div class="row align-items-center justify-content-center">
      <app-servicos></app-servicos>
    </div>

  </div>
</div>
<div class="mt-70 mb-20 w-100">
  <app-secao-carregador-eletrico></app-secao-carregador-eletrico>
</div>
