<div class="mb-20 container-projetos align-items-center">
  <div class="row ">
    <div class="col text-center div-formulario">
      <h4 class="texto-titulo-topico mb-20">{{titulo}}</h4>
    </div>
  </div>
  <div class="row mt-50 text-center">
    <div class="col display-flex">
      <div class="col-lg-6 display-flex">
        <div class="col-lg-6">
          <img src="./assets/img/projetos/projeto1.png" class="img">
        </div>
        <div class="col-lg-6  text-left">
          <div>
            <h6 class="texto-detalhe-projeto">Pazigran</h6>

          </div>
          <div> <i class="fas fa-map-marker-alt color-orange display-flex">
              <h6 class="texto-detalhe-projeto">Vitória - ES</h6>
            </i>
          </div>

          <div> <i class="fas fa-solar-panel color-orange display-flex">
              <h6 class="texto-detalhe-projeto">Quantidade de placas: 20</h6>
            </i>
          </div>

          <div> <i class="fa fa-bolt color-orange display-flex">
              <h6 class="texto-detalhe-projeto">Potência: 8kwp</h6>
            </i>
          </div>

          <div> <i class="fa fa-money-bill color-orange display-flex">
              <h6 class="texto-detalhe-projeto">Economia anual: R$10.800,00</h6>
            </i>
          </div>
        </div>
      </div>

      <div class="col-lg-6 display-flex">
        <div class="col-lg-6">
          <img src="./assets/img/projetos/projeto1.png" class="img">
        </div>
        <div class="col-lg-6  text-left">
          <div>
            <h6 class="texto-detalhe-projeto">Pazigran</h6>

          </div>
          <div> <i class="fas fa-map-marker-alt color-orange display-flex">
              <h6 class="texto-detalhe-projeto">Vitória - ES</h6>
            </i>
          </div>

          <div> <i class="fas fa-solar-panel color-orange display-flex">
              <h6 class="texto-detalhe-projeto">Quantidade de placas: 20</h6>
            </i>
          </div>

          <div> <i class="fa fa-bolt color-orange display-flex">
              <h6 class="texto-detalhe-projeto">Potência: 8kwp</h6>
            </i>
          </div>

          <div> <i class="fa fa-money-bill color-orange display-flex">
              <h6 class="texto-detalhe-projeto">Economia anual: R$10.800,00</h6>
            </i>
          </div>
      </div>
    </div>
  </div>
</div>
