.container-projetos {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.div-formulario {
  margin-top: 150px;
}

.img {
  width: -webkit-fill-available;
  border-radius: 10px;
  cursor: pointer;
}

.div-img-projetos {
  padding: 10px 5% 10px 5%;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.color-orange {
  color: orange;
}

.texto-detalhe-projeto {
  margin-left: 8px;
  margin-bottom: 4px;
  margin-top: -4px;
  font-weight: bold;
}
