<div class="mb-30">
  <hr class="linha1">
  <br>
  <hr class="linha2">
</div>

<div class="mb-20 container shape-container d-flex align-items-center">
  <div class="col px-0">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="texto-primario">Vantagens da energia solar</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 text-center card-vantagem">
        <i class="fas fa-money-bill-wave icone-card-vantagem"></i>
        <h4 class="texto-corpo-card-vantagem">Economia de até 95% na sua conta de energia.</h4>
      </div>
      <div class="col-lg-2 text-center card-vantagem">
        <i class="fas fa-chart-line icone-card-vantagem"></i>
        <h4 class="texto-corpo-card-vantagem">O retorno do investimento retorna em médio prazo (3 a 6 anos).</h4>
      </div>
      <div class="col-lg-2 text-center card-vantagem">
        <i class="fas fa-home icone-card-vantagem"></i>
        <h4 class="texto-corpo-card-vantagem">Valorização em até 10% do valor do imóvel.</h4>
      </div>
      <div class="col-lg-2 text-center card-vantagem">
        <i class="fas fa-solar-panel icone-card-vantagem"></i>
        <h4 class="texto-corpo-card-vantagem">Paineis solares com garantias até 25 anos e inversores com até 15 anos.</h4>
      </div>
      <div class="col-lg-2 text-center card-vantagem">
        <i class="fas fa-hourglass-half icone-card-vantagem"></i>
        <h4 class="texto-corpo-card-vantagem">Duração do sistema é de pelo menos 25 anos.</h4>
      </div>
    </div>
  </div>
</div>

<div class="div-linha-direita div-altura">
  <hr class="linha-direita-1">
</div>
  <br>
 <div class="div-linha-direita">
  <hr class="linha-direita-2">
</div>
