<div class="mb-20 container shape-container d-flex align-items-center">
  <div class="col px-0">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10 text-center">
        <h2 class="texto-primario">Ajude o meio ambiente e produza sua própria energia.</h2>
      </div>
      <div class="col-lg-10 text-center mt-30">
        <h4 class="texto-titulo-topico" >Nossos Serviços</h4>
        <div class="linha-titulo-div"> <hr class="linha-servico linha-titulo-orange"></div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3 text-center card-servicos">
        <i class="fa fa-check icone-card-servico" aria-hidden="true"></i>
        <h2 class="texto-titulo-card-servico">Facilidade</h2>
        <h4 class="texto-corpo-card-servico">Nós realizamos todas as etapas necessárias:</h4>
        <h4 class="texto-corpo-card-servico">visita técnica, projeto, instalação, homologação e manutenção.</h4>
      </div>
      <div class="col-lg-3 text-center card-servicos">
        <i class="fas fa-solar-panel icone-card-servico"></i>
        <h2 class="texto-titulo-card-servico">Tecnologia de Qualidade</h2>
        <h4 class="texto-corpo-card-servico">Trabalhamos com os melhores equipamentos do mercado e temos equipe técnica própria.</h4>
      </div>
      <div class="col-lg-3 text-center card-servicos">
        <i class="fas fa-users-cog icone-card-servico" ></i>
        <h2 class="texto-titulo-card-servico">Projetos Personalizados</h2>
        <h4 class="texto-corpo-card-servico">Feitos pensando na necessidade de cada cliente.</h4>
      </div>
    </div>
  </div>
</div>
