.fundador-div {
  background: #D9D9D9;
  margin-top: 6%;
}

.fundador-texto {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: justify;
  color: #242222;
}

.subdiv-texto-fundador {
  padding: 30px 10% 30px 10%;
}

.img-fundador {
  text-align: center;
}

.titulo {
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  color: #9E4A00;
  text-align: center;
}

.mt-70 {
  margin-top: 70px;
}

.mt-30 {
  margin-top: 30px;
}

.linha1 {
  width: 50%;
  background: #FF7A00;
  height: 9px;
  margin-bottom: 1rem;
  border-radius: 0px 3px 3px 0px;
  position: absolute;
  opacity: 0.9;
}

.linha2 {
  width: 30%;
  background: #FF7A00;
  height: 9px;
  margin-bottom: 1rem;
  border-radius: 0px 3px 3px 0px;
  position: absolute;
  opacity: 0.7;
}

.linha-direita-1 {
  width: 50%;
  background: #001C64;
  height: 9px;
  margin-bottom: 1rem;
  border-radius: 3px 0px 0px 3px;
  float: right;
  opacity: 0.9;
}

.linha-direita-2 {
  width: 30%;
  background: #001C64;
  height: 9px;
  margin-bottom: 1rem;
  border-radius: 3px 0px 0px 3px;
  float: right;
  opacity: 0.7;
}

.div-linha-direita {
  width: 100%;
  float: right;
}

.div-altura {
  height: 23px;
}
