.div-todo {
  background-color: #242222;
}

.cabecalho {
  display: flex;
  width: 100% !important;
}

.div-logo {
  width: 20% !important;
  text-align: center;
}

.btn-expandido {
  text-align: end;
  width: 90% !important;
}

.div-menu {
  width: 90% !important;
}
