<div class="mb-20 container-projetos align-items-center">
  <div class="row">
    <div class="col-md-12 text-center div-formulario">
      <h4 class="texto-titulo-topico-projeto mb-20">Comercial</h4>
    </div>
    <div class="col-md-12 div-img-projetos">
      <div class="div-sem-foto">
        <img  (click)="abrirDetalheTipoProjeto(1)" src="./assets/img/projetos/comercial.png" class="img">
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col text-center mt-50">
      <h4 class="texto-titulo-topico-projeto mb-20">Residencial</h4>
    </div>
    <div class="col-md-12 div-img-projetos">
      <div class="div-sem-foto">
      <img  (click)="abrirDetalheTipoProjeto(2)" src="./assets/img/projetos/residencial.png" class="img">
    </div>
    </div>
  </div>
</div>

