.container-projetos {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.div-formulario {
  margin-top: 150px;
}

.img {
  width: -webkit-fill-available;
  border-radius: 10px;
  cursor: pointer;
}

.div-img-projetos {
  padding: 33px 18% 10px 18%;
}

.div-sem-foto{
  background-image: url("../../assets/img/sem-foto.jpg");
  background-repeat: round;
  background-size: cover;
  border-radius: 10px;
}

.titulo-topico-projeto {
  font-weight: 100;
  line-height: 1;
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 700px) {
  .titulo-topico-projeto {
    font-weight: 100;
    line-height: 1;
    font-size: 30px;
    font-weight: 700;
  }

  .div-img-projetos {
    padding: 15px;
  }

}
