<div class="mb-20 mt-30 container-depoimento shape-container d-flex align-items-center">
  <div class="col px-0">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10 text-center mt-30">
        <h4 class="texto-titulo-topico">Depoimentos</h4>
        <div class="linha-titulo-div">
          <hr class="linha-depoimento linha-titulo-orange">
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-20">
      <ngx-slick-carousel class="carousel custom-flex-content" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem class="slide text-center card-depoimento" *ngFor="let depoimento of listaDepoimento">
          <h2 class="texto-titulo-card-depoimento">{{depoimento.nomeCliente}}</h2>
          <h4 class="texto-subtitulo-card-depoimento">{{depoimento.local}}</h4>
          <div style="max-height: 80px; overflow: auto;">
            <h4 class="texto-corpo-card-depoimento">"{{depoimento.descricao}}"</h4>
          </div>
          <div class="div-rating">
            <ngb-rating class="rating" [rate]="depoimento.nota"></ngb-rating>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
