.titulo-topico {
  font-family: Open Sans;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: center;
}

.linha-topico {
  width: 90px;
}

/* Vendas */
.vendas-titulo {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 53px;

}

.div-imagens {
  display: flex !important;
  margin-top: 20px;
}

.mt-100 {
  margin-top: 100px;
}

.div-servico {
  margin-left: 15%;
  margin-right: 15%;
}
