<div class="mb-20 mt-30 div-servico shape-container d-flex align-items-center">
  <div class="col px-0">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12 text-center mt-30">
        <h4 class="texto-titulo-topico">Serviços</h4>
        <div class="linha-titulo-div">
          <hr class="linha-topico linha-titulo-orange">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 div-imagens">
        <div class="col-lg-5">
          <img src="./assets/img/theme/team-1-800x800.jpg" class="img-fluid rounded-circle shadow "
            style="width: 200px; height: 200px;">
        </div>
        <div class="col-lg-7">
          <h2 class="vendas-titulo">Vendas</h2>
          <h6>Propostas personalizadas.</h6>
          <h6>Visitas técnicas.</h6>
          <h6>Equipamentos de qualidade.</h6>
          <h6>Pós venda.</h6>
        </div>
      </div>
      <div class="col-lg-6 div-imagens mt-100 ">
        <div class="col-lg-5">
          <img src="./assets/img/theme/team-1-800x800.jpg" class="img-fluid rounded-circle shadow " style="width: 200px; height: 200px;">
        </div>
        <div class="col-lg-7">
          <h2 class="vendas-titulo">Projetos Fotovoltaicos</h2>
          <h6>Projetos personalizados.</h6>
          <h6>Equipe própria de energia.</h6>
          <h6>Aprovação rápida.</h6>
        </div>
      </div>

      <div class="col-lg-6 div-imagens">
        <div class="col-lg-5">
          <img src="./assets/img/theme/team-1-800x800.jpg" class="img-fluid rounded-circle shadow "
            style="width: 200px; height: 200px;">
        </div>
        <div class="col-lg-7">
          <h2 class="vendas-titulo">Instalação</h2>
          <h6>Equipe própria de instalação.</h6>
          <h6>Rápida e segura.</h6>
          <h6>Instaladores com NR 10 E NR 35.</h6>
        </div>
      </div>
      <div class="col-lg-6 div-imagens mt-100">
        <div class="col-lg-5">
          <img src="./assets/img/theme/team-1-800x800.jpg" class="img-fluid rounded-circle shadow "
            style="width: 200px; height: 200px;">
        </div>
        <div class="col-lg-7">
          <h2 class="vendas-titulo">Consultoria</h2>
          <h6>Mais de 3 Megawatts em projetos e instalações.</h6>
          <h6>Engenheiros eletricistas especializados.</h6>
        </div>
      </div>

      <div class="col-lg-6 div-imagens">
        <div class="col-lg-5">
          <img src="./assets/img/theme/team-1-800x800.jpg" class="img-fluid rounded-circle shadow "
            style="width: 200px; height: 200px;">
        </div>
        <div class="col-lg-7">
          <h2 class="vendas-titulo">Manutenção</h2>
          <h6>Limpeza dos módulos fotovoltaicos.</h6>
          <h6>Configuração do monitoramento.</h6>
          <h6>Verificação dos componentes do sistema fotovoltaico.</h6>
        </div>
      </div>
    </div>
  </div>
</div>
