<div class="mb-20 container-contato align-items-center">
  <div class="row">
    <div class="container-blog div-conteudo-pagina">
      <div class="conteudo-principal" *ngFor="let blog of listaBlog">
        <div (click)="abrirNoticia(blog.id)" class="conteudo-blog">
          <div class="conteudo-foto">
            <img *ngIf="blog.imagemUrl" [src]="blog.imagemUrl" class="img img-blog" />
            <img *ngIf="!blog.imagemUrl" src="../../assets/img/sem-foto.jpg" class="img img-blog" />
          </div>
          <div class="conteudo-texto">
            <P class="conteudo-titulo-noticia">
              {{ blog.tituloNoticia }}
            </P>
            <P class="conteudo-texto-noticia">
              {{ blog.noticia }}
            </P>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
