<div class="mb-20 container-contato align-items-center">

  <div class="row">
    <div class="container-blog div-conteudo-pagina">
      <div class="conteudo-principal" (click)="abrirNoticia()" *ngFor="let blog of listaBlog">
        <div class="conteudo-blog">
          <div class="conteudo-foto"> <img [src]="blog.imagemUrl" class="img img-blog"></div>
          <div class="conteudo-texto">
            <P class="conteudo-titulo-noticia">
              {{blog.tituloNoticia}}
            </P>
            <P class="conteudo-texto-noticia">
              {{blog.noticia}}
            </P>
          </div>
        </div>
      </div>
      <!-- <div class="conteudo-principal" (click)="abrirNoticia()">
        <div class="conteudo-blog">
          <div class="conteudo-foto">FOTO</div>
          <div class="conteudo-texto">
            <P class="conteudo-titulo-noticia">
              Imóveis com sistemas fotovoltaicos são mais valorizados no mercado
              imobiliário
            </P>
            <P class="conteudo-texto-noticia">Uma pesquisa realizada pela Effective Home, especialista em painéis
              solares, indicou que a instalação de geradores fotovoltaicos pode
              aumentar o valor de um imóvel em até R$ 200 mil, na Europa. No Reino
              Unido, por exemplo, imóveis com energia solar são vendidos por 14% a
              mais, um acréscimo de cerca de 32 mil libras, com base no preço médio
              de uma casa naquele país. Mas a mesma análise mostrou que o acréscimo
              pode ser ainda maior...</P>
          </div>
        </div>
      </div> -->
    </div>

  </div>
</div>
