.container-blog {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.div-conteudo-pagina{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.conteudo-principal {
  background-color: #d9d9d9;
  height: 280px;
  margin-bottom: 30px;
  border-radius: 15px 15px 15px 15px;
}

.conteudo-principal:hover{
  cursor: pointer;
}

.conteudo-blog {
  display: flex;
}

.conteudo-foto {
  background-color: #001c64;
  height: 280px;
  width: 25%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0px 0px 15px;
}

.conteudo-texto {
  width: 75%;
  padding: 50px;
  padding: 10px;
  max-height: 280px;
  position: relative;
  overflow: auto;
}

.conteudo-titulo-noticia {
  font-family: Open Sans;
  font-weight: bold;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 22px;
}

.conteudo-texto-noticia {
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: justify;
  padding: 5px;
}

.img-blog {
  height: 100%;
  width: 100%;
  border-radius: 15px 0px 0px 15px;
}
