<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="accordion" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed btn-style-custom" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        2- Qual é a validade dos créditos de energia solar?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse btn-style-custom" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Toda a energia constituída a mais pelo sistema de energia solar fotovoltaica, que é injetada na rede da distribuidora, será “emprestada” para a distribuidora. Assim, será gerado um “crédito” de energia para você. Este crédito tem validade de no máximo 60 meses.
      </div>
    </div>
  </div>
</div>
