<div class="mb-20 container-como-funciona d-flex align-items-center">
  <div class="col px-0 align-items-self-custom">
    <!-- <div
      style="
        color: white;
        margin-top: 12%;
        height: 200px;
        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      Foto
    </div> -->
    <div class="div-img-info">
      <img src="../../assets/img/como-funciona/como-funciona-info.png" class="img-info">
    </div>

    <h3 class="perguntas-frequentes-style">Perguntas frequentes</h3>
    <div class="accordion" [attr.id]="'accordionExample'">
      <div
        class="accordion-item div-accordion-custom"
        *ngFor="let p of perguntasFrequentes"
      >
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed btn-style-custom"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapseThree' + p.id"
            aria-expanded="false"
            [attr.aria-controls]="'collapseThree' + p.id"
          >
            {{ p.pergunta }}
          </button>
        </h2>
        <div
          [attr.id]="'collapseThree' + p.id"
          class="accordion-collapse collapse btn-style-custom"
          aria-labelledby="headingThree"
          [attr.data-bs-parent]="'#accordionExample'"
        >
          <div class="accordion-body">
            {{ p.resposta }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
