.btn-orcamento-online {
  background: #FF7A00;
  color: white;
  font-weight: bold;
  border-radius: 25px;
}

.btn-orcamento-online:hover {
  opacity: 0.5;
}

.text-principal-logo {
  font-size: 40px;
  font-weight: 400;
}
