<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-10 text-center">
              <p class="text-principal-logo text-white">TER ENERGIA SOLAR NUNCA FOI TÃO FÁCIL</p>
              <p class="lead text-white">Fazemos todas as etapas, desde o projeto até a instalação.</p>
              <div class="btn-wrapper mt-5">
                <a href="https://bit.ly/2FNFTjM" class="btn-orcamento-online btn btn-lg btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text">Faça seu orçamento online</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <app-nossos-servicos></app-nossos-servicos>
  <app-secao-projetos></app-secao-projetos>
  <app-vantagem-energia-solar></app-vantagem-energia-solar>
  <app-depoimentos></app-depoimentos>
</main>
