<footer class="footer footer-principal">
  <div class="container-footer">
    <div class="row align-items-start">
      <div class="col-lg-4 teste-center mb-5 text-align-center">
        <h5 class="localizacao-titulo">Localização</h5>
        <h6>Rod. Governador Lacerda de Aguiar, S/N </h6>
        <h6>Km 22,1 CEP: 29320-899, Loc. Urtiga </h6>
        <h6>Cachoeiro de Itapemirim - ES </h6>
        <h5 class="localizacao-titulo"><i class="fas fa-map-marker-alt"></i>
          <a
            href="https://www.google.com.br/maps/dir//-20.8553953,-41.0663982/@-20.855749,-41.0667657,17z/data=!4m2!4m1!3e0"><span>
              Como
              Chegar</span></a>
        </h5>
      </div>
      <div class="col-lg-4 mb-5">
        <h5 class="localizacao-titulo text-align-center">Redes sociais</h5>
        <div class="container rede-social">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/geramaisenergiasolar" target="_blank"
            title="Facebook">
            <i class="fab fa-facebook-square icones-rede-social"></i>
          </a>

          <a class="nav-link nav-link-icon" href="https://www.instagram.com/geramaisengenharia/" target="_blank"
            title="Instagram">
            <i class="fab fa-instagram icones-rede-social"></i>
          </a>

          <a class="nav-link nav-link-icon" href="https://www.linkedin.com/company/geramaisengenharia" target="_blank"
            title="Linkedin">
            <i class="fab fa-linkedin icones-rede-social"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 teste-center mb-5 text-align-center">
        <h5 class="localizacao-titulo">Entre em contato</h5>
        <h6 class="localizacao-titulo">
          <a href="https://api.whatsapp.com/send?phone=+552799971-5445&text=Ol%C3%A1%20Gera%20+!">
            <i class="fab fa-whatsapp"></i>
          </a> (28) 99992-8605
        </h6>
        <h6 class="localizacao-titulo"> <a
            href="https://api.whatsapp.com/send?phone=+552799971-5445&text=Ol%C3%A1%20Gera%20+!">
            <i class="fab fa-whatsapp"></i>
          </a> (27) 99971-5445
        </h6>
        <h6 class="localizacao-titulo"><i class="fas fa-phone"></i> (28) 3014-0487</h6>
        <h6 class="localizacao-titulo">
          <a href="mailto:contato@geramaisengenharia.com.br" target="_self"
            data-content="contato@geramaisengenharia.com.br" data-type="mail">
            <i class="far fa-envelope"></i>
          </a> contato@geramaisengenharia.com.br
        </h6>
      </div>
    </div>
  </div>
</footer>

<section class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-default">
    <div class="container">
      <div class="col-md-12 copyright">
        Copyright &copy; {{test | date: 'yyyy'}} geramaisengenharia - Todos direitos reservados.
      </div>
    </div>
  </nav>
</section>
