<div class="mb-20 container-contato align-items-center">
  <div class="row">
    <div class="container-blog div-conteudo-pagina">
      <div class="conteudo-principal">
        <div class="conteudo-blog"> <img [src]="blogCompleto?.imagemCabecalhoUrl" class="img img-blog" /></div>
      </div>
      <h4>
        {{blogCompleto?.tituloNoticiaCompleta}}
      </h4>
      <p class="desc-completo">
        {{blogCompleto?.descricaoNoticiaCompleta}}
      </p>

      <p>
        Fonte:
        <a href="blogCompleto?.fonte">{{blogCompleto?.fonte}}</a>
      </p>

      <div class="footer-img">
        <div>
          <div class="row justify-center-orientation">
            <div class="img-noticia col-lg-3"> <img [src]="blogCompleto?.imagemInfo1Url"
                class="img img-blog img-noticia" /></div>
            <div class="img-noticia col-lg-3"> <img [src]="blogCompleto?.imagemInfo2Url"
                class="img img-blog img-noticia" /></div>
            <div class="img-noticia col-lg-3"> <img [src]="blogCompleto?.imagemInfo3Url"
                class="img img-blog img-noticia" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
